body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(img/bgk.jpg);
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(45deg, rgba(239,197,202,1) 0%,rgba(186,39,55,1) 37%,rgba(210,75,90,1) 59%,rgba(210,75,90,1) 59%,rgba(186,39,55,1) 83%,rgba(241,142,153,1) 100%);
      text-align: center;
    border-radius: 5px;
}
.box h1{
    color: white;
    text-transform: uppercase;
}
.box input[type ="text"], .box input[type="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid blue;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.24s;
}
.box input[type ="text"]:focus, .box input[type="password"]:focus{
    width:200px ;
    border-color: green;
}
.box input[type="submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid green;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.24s; 
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: green;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 70px;
    display: block;
    margin-top: 0;
    background: linear-gradient(45deg, rgba(239,197,202,1) 0%,rgba(186,39,55,1) 37%,rgba(210,75,90,1) 59%,rgba(210,75,90,1) 59%,rgba(186,39,55,1) 83%,rgba(241,142,153,1) 100%);

}
 h1{
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Lobster', cursive;
}
h1 span{
    color: white
    font-family: 'Lobster', cursive;
}
