body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 400vh;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(236, 10, 115);
  font-family: 'brandontext-reguler', sans-serif;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:deeppink ;
}

li.dropdown {
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: pink;}

.dropdown:hover .dropdown-content {
  display: block;
}
ul a.active {
  background-color: #2196F3;
  color: white;
}

ul .search-container {
  float: right;
}

ul input[type=text] {
  padding: 6px;
  margin-top: 10px;
  font-size: 17px;
  border: none;
}
ul .search-container button {
  float: right;
  padding: 7px 10px;
  margin-top: 9px;
  margin-right: 16px;
  margin-bottom: 10px;
  background:deeppink;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

ul.search-container button:hover {
  background: rgb(251, 97, 174);
}
.mySlides {display:none;}
