@import{
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
}
body {
  margin: 0;
  padding: 0;
  height: 300px;
  font-family: 'Roboto Condensed', sans-serif;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(236, 10, 115);
  font-family: 'Amarante';font-size: 15px;
}

li {
  float: left;
}
a{
	color: white;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:deeppink ;
}

li.dropdown {
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {background-color: pink;}

.dropdown:hover .dropdown-content {
  display: block;
}
ul a.active {
  background-color: #2196F3;
  color: white;
}

ul .search-container {
  float: right;
}

ul input[type=text] {
  padding: 6px;
  margin-top: 10px;
  font-size: 17px;
  border: none;
}
ul .search-container button {
  float: right;
  padding: 7px 10px;
  margin-top: 9px;
  margin-right: 16px;
  margin-bottom: 10px;
  background:deeppink;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

ul.search-container button:hover {
  background: rgb(251, 97, 174);
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;

}
img{
	width: 100%;
	transition: all 5s;
}
section{
	padding: 70px 0;
	margin-top: 50px;
	
	text-align: center;
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
main{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 40px;
	margin-top: -60px;;
	
}
.singleblog{
	position: relative;
	overflow: hidden;
	max-height: 500px;
	height: 100%;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #ccc;
	transition: all .5s;

}
.blogcontent{
	position: absolute;
	left: 0;
	bottom: -45px;
	width: 100%;
	color: #fff;
	padding: 10px 5px;
	background: linear-gradient(45deg, rgba(239,197,202,-1) 0%,rgba(210,75,90,1) 68%,rgba(241,142,153,-1) 100%);
	transition: all .5s;
}
.singleblog:hover img{
	transform: scale(1.1);
	transition: all .5s;
}
.singleblog :hover.blogcontent{
	bottom: 0;
	transition: all .5s;
	cursor: pointer;
}
.blogcontent h3{
	margin-top: 5px;
}
.blogcontent a{
font-size: 14px;
font-weight: 500; 	
}
.blogcontent .btn{
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-weight: 400;
}
.blogcontent .btn:hover{
	background:rgba(196, 69, 105,1.0);
	transition: all .5s;
	text-decoration: none;
}
.blogcontent a :hover{
	text-decoration: underline;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
  }
  a:hover {
	background-color:rgba(196, 69, 105,1.0);
	color: black;
  }
.previous {
	background-color: pink;
	color:white;
	

  }
  
  .next {
	background-color: pink;
	color: white;
  }
  
  .round {
	border-radius: 50%;
  }

.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px

}
footer{
	position: inherit;
	bottom: 0;
}
.footer-distributed{
	background-color: #2f292c;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  deeppink;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
}
@media (max-width: 992px){
	main{
		grid-template-columns: repeat(3,1fr);
		grid-gap: 20px;

	}
}
@media (max-width:767px){
	main{
		grid-template-columns: repeat(2,1fr);
		grid-gap: 15px;
	}
}
@media (max-width:500px){
	main{
		grid-template-columns: repeat(1,1fr);
	}
}